@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    background-color: theme('colors.background');
    font-family: 'Sansita', sans-serif;
    color: white;
  }
}


@layer utilities {
  .container {
    max-width: 90rem
  }

  .bg-gradient-primary {
    background-image: linear-gradient(139deg, #F1BB1C, #FF8D01);
  }

  .bg-color-switch-outside {
    background-image: linear-gradient(to bottom, #2D353F, #222733);
  }

  .bg-color-switch-inside {
    background-image: linear-gradient(to bottom, #222733, #2D353F);
  }

  .button-week-off {
    background-color: #1A2440;
  }

  .card-bg {
    background-image: linear-gradient(to bottom, #151E36, #1A2440);
  }

}